<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/privatemessages.css' %}">
    <script src="{% static 'JavaScript/jquery-2.1.4.min.js'%}" ></script>
    <script src="{% static 'JavaScript/jstz-1.0.4.min.js' %}" ></script>
    <script src="{% static 'JavaScript/privatemessages.js' %}"></script>
    <meta charset="UTF-8">
    {% block head %}{% endblock head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %} Private messages {% endblock title %}</title>
</head>
<body>
{% block content %} {% endblock content %}
</body>
</html>